@import '@/styles/components/_vars.scss';
@import '@/styles/components/_mixins.scss';
.header{
    padding: 66px 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    transition: 0.5s;
    @include lg{
        padding: 20px 0;
        position: fixed;
    }
    &.active{
        padding: 30px 0;
        background: rgba($color: $white, $alpha: 0.8);
        position: fixed;
    }
    .navbar{
        display: flex;
        align-items: center;
        width: 100%;
       
        .logo{
            font-size: 30px;
            font-weight: 600;
            cursor: pointer;
            @include xxl{
                font-size: 23px;
            }
            @include xl{
                font-size: 20px;
                width: 30%;
            }

        }
        .menu{
            display: flex;
            li{
                .link{
                    margin-left: 61px;
                    font-size: 20px;
                    color: $black;
                    @include xxl{
                        font-size: 16px;
                        margin-left: 30px;
                    }
                    &:hover{
                        color: $brand_color;
                    }
                }
            }
        }
       
        .mobile_menu{
            position: fixed;
            left: 0;
            top: 0;
            padding: 20px 30px 40px 10px;
            background-color: $white;
            width: 250px;
            height: 100%;
            min-height: 100vh;
            transform: translateX(-100%);
            transition: 0.5s;
            opacity: 0;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            z-index: 999;
            .search{
                cursor: pointer;
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 15px 20px;
                font-size: 18px;
                color: $brand_color;
                border: 1px solid $brand_color;
                border-radius: 50px;
                gap: 20px;
            }
            ul{
                display: flex;
                flex-direction: column;
                height: 100%;
                li{
                    .mobile_menu_link{
                        color: black;
                        padding: 20px 0;
                        &:hover{
                            color: $brand_color;
                        }
                    }

                }

            }
        }
        .mobile_menu_active{
            transform: translateX(0);
            opacity: 1;
        }
        .burger{
            margin-left: auto;
            transform: translateY(3px);
        }
        .actions{
            margin-left: 200px;
            display: flex;
            align-items: center;
            @include lg{
                margin-left: auto;
            }
            .search{
                font-size: 25px;
                color: $black;
                cursor: pointer;
            }
            .language{
                margin-left: 33px;
                text-transform: uppercase;
                cursor: pointer;
                position: relative;
                width: 100%;
                padding: 0 10px;
                width: 100%;
                display: flex;
                
                span{
                    font-size: 20px;
                    @include xxl{
                        font-size: 18px;
                    }
                  
                    @include lg{
                        font-size: 18px;
                    }
                 
                }
               
              
                
                i{
                    transform: translateX(10px);
                    font-size: 15px;
                }
                .dropdown{
                    position: absolute;
                    background: $white;
                    width: 150%;
                    transform: translateX(-50%) translateY(15px);
                    left: 40%;
                    text-align: center;
                    top: 55;
                    opacity: 0;
                    pointer-events: none;
                    box-shadow: 0 0 10px rgba($black, $alpha:0.2);
                    transition: transform 0.3s;
                    &.active{
                        opacity: 1;
                        transform: translate(-50%) translateY(25px);
                        pointer-events: all;
                    }
                    li{
                        padding: 10px 5px;
                        &:hover{
                            background-color: $brand_color;
                            color: $white;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}